<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegressionSuite" verbose="2">
    <test name="test1" parallel="methods" thread-count="1">
        <classes>
          <class name="suite.regression.UI.ShoppingOnAmazoneTC" />
            <class name="suite.regression.UI.ShoppingOnAmazoneTC" />
        </classes>
    </test>
</suite>
